[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
attrs = "==23.1.0"
backports-zoneinfo = "==0.2.1"
django = "==4.2.8"
djangorestframework = "==3.14.0"
drf-spectacular = "==0.26.5"
importlib-resources = "==6.1.0"
inflection = "==0.5.1"
jsonschema = "==4.19.1"
jsonschema-specifications = "==2023.7.1"
pkgutil-resolve-name = "==1.3.10"
psycopg2-binary = "==2.9.9"
pyyaml = "==6.0.1"
referencing = "==0.30.2"
rpds-py = "==0.12.0"
sqlparse = "==0.4.4"
typing-extensions = "==4.8.0"
uritemplate = "==4.1.1"
zipp = "==3.17.0"
pytest = "*"
pytest-django = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.8"
